asgiref==3.6.0
backports.zoneinfo==0.2.1
bidict==0.22.1
Django==4.2.7
gunicorn==20.1.0
h11==0.14.0
python-engineio==4.4.1
python-socketio==5.8.0
simple-websocket==0.10.0
sqlparse==0.4.4
wsproto==1.2.0
